#page-recipeDetails h1 {
	font-size: 36px;
	font-weight: 500;
}

#page-recipeDetails h3 {
	font-size: 28px;
}

#page-recipeDetails #ingredients p {
	font-size: 18px;
	margin-bottom: 0;
	font-weight: 300;
}

#page-recipeDetails #wrapper-image-details img#img-details {
	/* width: 50vw; */
	max-height: 35vw;
	margin-top: 1vw;
}

#page-recipeDetails #wrapper-image-details button {
	width: 2.4vw;
	height: 2.4vw;
}

#page-recipeDetails #wrapper-image-details button img {
	width: 2vw;
	margin-left: -1vw;
	margin-top: -3vw;
}

#page-recipeDetails #videoStep button {
	width: 19vw;
	height: 5vw;
}

#page-recipeDetails #videoStep button img {
	width: 2vw;
	margin-top: -18px;
}

#page-recipeDetails #comment textarea {
	width: 65vw;
	height: 19vw;
}

#page-recipeDetails #comment img {
	width: 9%;
	height: 9%;
}

#page-recipeDetails #userComment p {
	margin: 0;
	margin-top: -0.5vw;
	font-size: 10px;
}

@media only screen and (max-width: 426px) {
	#page-recipeDetails h1 {
		font-size: 28px;
	}

	#page-recipeDetails h3 {
		font-size: 22px;
	}

	#page-recipeDetails #wrapper-image-details button {
		height: 5vw;
	}

	#page-recipeDetails #wrapper-image-details button img {
		width: 2vw;
		margin-left: -1vw;
		margin-top: -6vw;
	}

	#page-recipeDetails #ingredients p {
		font-size: 14px;
	}

	#page-recipeDetails #videoStep button img {
		width: 2vw;
		margin-top: -23px;
	}

	#page-recipeDetails #comment #btn-send {
		font-size: 12px;
	}
}

@media only screen and (min-width: 768px) {
	#page-recipeDetails h1 {
		font-size: 48px;
	}

	#page-recipeDetails h3 {
		font-size: 36px;
	}

	#page-recipeDetails #ingredients p {
		font-size: 20px;
	}

	#page-recipeDetails #videoStep button {
		height: 3.5vw;
	}

	#page-recipeDetails #videoStep button img {
		width: 1.5vw;
		margin-top: -1.5vw;
	}

	#page-recipeDetails #comment img {
		width: 5%;
		height: 5%;
	}

	#page-recipeDetails #userComment p {
		font-size: 14px;
		margin-top: -0.2vw;
	}
}

@media only screen and (min-width: 1024px) {
	#page-recipeDetails #wrapper-image-details button img {
		width: 2vw;
		margin-left: -1vw;
		margin-top: -1.5vw;
	}

	#page-recipeDetails #videoStep button img {
		margin-top: 0vw;
	}
}

@media only screen and (min-width: 1280px) {
	#page-recipeDetails h1 {
		font-size: 48px;
	}

	#page-recipeDetails h3 {
		font-size: 36px;
	}

	#page-recipeDetails #ingredients p {
		font-size: 20px;
	}
}

@media only screen and (min-width: 1440px) {
	#page-recipeDetails h1 {
		font-size: 56px;
	}
	#page-recipeDetails h3 {
		font-size: 48px;
	}
	#page-recipeDetails #wrapper-image-details button img {
		width: 250%;
		margin-left: -80%;
		margin-top: -60%;
	}

	#page-recipeDetails #ingredients p {
		font-size: 28px;
	}
}

@media only screen and (min-width: 1720px) {
	#page-recipeDetails h1 {
		font-size: 72px;
	}
	#page-recipeDetails h3 {
		font-size: 64px;
	}
	#page-recipeDetails #ingredients p {
		font-size: 32px;
	}
}
